@import "tailwindcss";

@theme {
  /* 设置spacing基础单位为px */
  --spacing: 2px;

  /* 自定义字体大小使用px */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
}

/* 你也可以添加自定义工具类 */
@utility my-spacing-px-10 {
  margin: 10px;
  padding: 10px;
}
